<nav id="navegacion" class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a routerLink="/bio">
			<img
				class="img-fluid mr-5"
				src="assets/imagenes/logoMarianaBlanco.png"
				width="250"
			/>
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/bio">Informacion</a>
        </li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/listadoPersonas">Listado de personas</a>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdown"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Filtrado de personas
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" routerLink="/listado/tipo/1">
								Filtrado por tipo/rol/cargo
							</a>
						</li>
						<li>
							<a class="dropdown-item" routerLink="/listado/estado/1">
								Filtrado por estado/situacion
							</a>
						</li>
						<li>
							<a class="dropdown-item" routerLink="/listado/posibles">
								Filtrado por posible asistencia
							</a>
						</li>
						<li>
							<a class="dropdown-item" routerLink="/listado/posiblesFacultades">
								Filtrado por posible asistencia agrupado por facultades
							</a>
						</li>
						<li><hr class="dropdown-divider" /></li>
						<li><a class="dropdown-item">... proximamente mas filtros</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a
						class="nav-link dropdown-toggle"
						href="#"
						id="navbarDropdownGraficas"
						role="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						Graficas de resumen
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdownGraficas">
						<li>
							<a class="dropdown-item" routerLink="/graficas/1"> Grafica 1 </a>
						</li>
						<li>
							<a class="dropdown-item" routerLink="/graficas/2"> Grafica 2 </a>
						</li>
						<li>
							<a class="dropdown-item" routerLink="/graficas/3"> Grafica 3 </a>
						</li>
						<li>
							<a class="dropdown-item" routerLink="/graficas/4"> Grafica 4 </a>
						</li>
						<li><hr class="dropdown-divider" /></li>
						<li><a class="dropdown-item">... proximamente mas graficas</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
