<nav class="nav nav-justified bg-dark pb-4">
  <li routerLinkActive="active">
    <a class="btn btn-light ml-5 mr-2 mt-4" href="https://www.umariana.edu.co/"target="_blank"><img src="assets/imagenes/logo.png"></a>
  </li>
  <li>
    <a routerLink="/listadoPersonas" class="btn btn-primary ml-4 mr-2 mt-5 text-white">Listado de personsas</a>
  </li>
  <li>
    <div class="dropdown ml-4 mr-2 mt-5">
      <button class="btn btn-primary dropdown-toggle" id="dropMenuOne" data-bs-toggle="dropdown" aria-expanded="false">
        Listado de personas por filtros
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropMenuOne">
        <li><a class="dropdown-item" routerLink="/listado/tipo/1">Filtrado por tipo/rol/cargo</a></li>
        <li><a class="dropdown-item" routerLink="/listado/estado/1">Filtrado por situacion</a></li>
        <li><a class="dropdown-item" routerLink="/listado/posibles">Filtrado por posible asistencia</a></li>
        <li><a class="dropdown-item" routerLink="/listado/posiblesFacultades">Filtrado por facultad y posible asistencia</a></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="dropdown ml-4 mr-2 mt-5">
      <button class="btn btn-primary dropdown-toggle" id="dropMenuTwo" data-bs-toggle="dropdown" aria-expanded="false">
        Graficas de resumen
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropMenuTwo">
        <li><a class="dropdown-item" routerLink="/graficas/1">Grafica 1</a></li>
        <li><a class="dropdown-item" routerLink="/graficas/2">Grafica 2</a></li>
        <li><a class="dropdown-item" href="#">Grafica 3</a></li>
        <li><a class="dropdown-item" href="#">Grafica 4</a></li>
        <li><a class="dropdown-item" href="#">Todas las graficas</a></li>
      </ul>
    </div>
  </li>
</nav>
