<footer class="border-top bg-dark text-white p-5">
  <div class="form-group row">
    <!-- primera fila -->

    <div class="col-sm-4">
      <h4>Datos de contacto</h4>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <img height="32" width="32" src="assets/imagenes/iconos/person.png" />
          <a class="link-secondary">Carlos Ernesto Díaz Basante</a>
        </li>
        <li class="mb-1">
          <img height="32" width="32" src="assets/imagenes/iconos/phone.png" />
          <a class="link-secondary">3163930876</a>
        </li>
        <li class="mb-1">
          <img height="32" width="32" src="assets/imagenes/iconos/GitHub.png" />
          <a
            class="link-secondary text-white"
            href="https://github.com/carlosdizx"
            >GitHub</a
          >
        </li>
        <li class="mb-1">
          <img
            height="32"
            width="32"
            src="assets/imagenes/iconos/LinkedIn.png"
          />
          <a class="link-secondary">LinkedIn</a>
        </li>
        <li class="mb-1">
          <img
            height="32"
            width="32"
            src="assets/imagenes/iconos/envelope-closed.png"
          />
          <a class="link-secondary">carlodiaz@umariana.edu.co</a>
        </li>
        <li class="mb-1">
          <img height="32" width="32" src="assets/imagenes/iconos/globe.png" />
          <a class="link-secondary">Canal de Yotube</a>
        </li>
      </ul>
    </div>

    <!-- segunda fila -->

    <div class="col-sm-4">
      <h4>Formación académica</h4>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <img height="32" width="32" src="assets/imagenes/iconos/book.png" />
          <a class="link-secondary">Universidad Mariana</a>
        </li>
        <li class="mb-1">
          <img height="32" width="32" src="assets/imagenes/iconos/udemy.png" />
          <a class="link-secondary">Udemy</a>
        </li>
        <li class="mb-1">
          <img
            height="32"
            width="50"
            src="assets/imagenes/iconos/coursera.png"
          />
          <a class="link-secondary">Coursera</a>
        </li>
      </ul>
    </div>

    <!-- tercera fila -->

    <div class="col-sm-4">
      <h5>Habilidades</h5>
      <ul class="list-unstyled text-small">
        <li class="mb-1">
          <a class="link-secondary"
            >HTML, CSS, JavaScript
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 50%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </a>
        </li>
        <li class="mb-1">
          <a class="link-secondary"
            >Java
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 85%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </a>
        </li>
        <li class="mb-1">
          <a class="link-secondary"
            >Base de datos SQL
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 50%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </a>
        </li>
        <li class="mb-1">
          <a class="link-secondary"
            >Angular
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 60%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </a>
        </li>
        <li class="mb-1">
          <a class="link-secondary"
            >Vue
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 50%"
                aria-valuenow="25"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
