.form-control {
	margin-top: 50px;
	font-size: 17px;
}
.col-form-label {
	font-size: 20px;
	margin-top: 50px;
}
.card {
	height: 100%;
  padding-top: 20px;
}

@media only screen and (max-width: 600px) {
  #contenedora {
    padding-top: 40%;
    position: center;
  }
}
