<button class="btn btn-dark btn-block"><b>{{titulo}}</b></button>
<div class="form-group row">
  <div class="col-sm-3">
    <button (click)="cambiarTitulo(1)" class="btn btn-primary btn-block" [routerLink]="['/listado/tipo/',1]">Estudiantes</button>
  </div>
  <div class="col-sm-3">
    <button (click)="cambiarTitulo(2)" class="btn btn-success btn-block"  [routerLink]="['/listado/tipo/',2]">Docentes</button>
  </div>
  <div class="col-sm-3">
    <button (click)="cambiarTitulo(3)" class="btn btn-warning btn-block" [routerLink]="['/listado/tipo/',3]">Administrativos</button>
  </div>
  <div class="col-sm-3">
    <button (click)="cambiarTitulo(4)" class="btn btn-danger btn-block" [routerLink]="['/listado/tipo/',4]">Directivos</button>
  </div>
</div>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>Documento</th>
    <th>Programa acedemico</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let persona of personas">
    <td><button class="btn btn-secondary btn-block"[routerLink]="['/personas/',persona.documento]">{{persona.documento}}</button></td>
    <td>{{persona.programa.nombre}}</td>
    <td *ngIf="persona.estado.id===1" class="btn-light">{{persona.estado.nombre}}</td>
    <td *ngIf="persona.estado.id===2" class="btn-danger">{{persona.estado.nombre}}</td>
    <td *ngIf="persona.estado.id===3" class="btn-warning">{{persona.estado.nombre}}</td>
    <td *ngIf="persona.estado.id===4" class="btn-warning">{{persona.estado.nombre}}</td>
    <td *ngIf="persona.estado.id===5" class="btn-primary">{{persona.estado.nombre}}</td>
    <td *ngIf="persona.estado.id===6" class="btn-success">{{persona.estado.nombre}}</td>
  </tr>
  </tbody>
</table>
