<button class="btn btn-primary btn-block">Conteo de personas que podrian volver a la Universidad categorizado por facultad, programa y cargo ({{total}})</button>
<table class="table table-dark table-striped text-monospace">
  <thead>
  <tr>
    <th>Cantidad</th>
    <th>Tipo</th>
    <th>Facultad</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let facuTipo of facutipos">
    <td>{{facuTipo.cantidad}}</td>
    <td>{{facuTipo.tipo}}</td>
    <td>{{facuTipo.facultad}}</td>
  </tr>
  </tbody>
</table>
