<div class="container-fluid card bg-dark text-white">
	<div class="card-header"><h1>¡Hola cómo estás!</h1></div>
	<div class="card-body">
		<div class="text-monospace container">
			<h5>
				Mi nombre es Carlos Díaz, soy estudiante de Ingeniería de Sistemas de noveno
				semestre, en esta página podrás encontrar el resultado del desarrollo de un
				proyecto para la Universidad Mariana, el cual consiste en crear una herramienta
				que permita apoyar la trazabilidad del proceso vacunación del Covid-19, la aplicación esta
				realizada en Angular (Frontend), también existe un backend el cual contiene toda
				la lógica y los datos para que este proyecto funcione (realizado con Spring).
				<br /><br />Esta aplicación nos muestra (con datos de prueba) como podría ser de
				utilidad para tener un panorama de la Universidad Mariana respecto al Covid-19, la
				App cuenta con una base de datos de personas, las cuales tienen diferentes roles
				(estudiante, docente, administrativo, directivo) y pertenecen a los distintos
				programas académicos y facultades con los que cuenta la universidad, además, estas
				personas tienen sus afiliaciones a entidades prestadoras de salud (EPS).<br /><br />
				La aplicación nos permite categorizar, actualizar y visualizar la información
				contenida en las bases de datos, para ello hacemos uso de distintos componentes
				que nos ayudan a esta labor, algunos de estos componentes son: Bootstrap y
				NgChart2 los cuales son Frameworks de HTML, CSS y JavaScript para mostrar
				información de manera más cómoda para los usuarios.<br /><br />
				Espero que el contenido de esta página sea de tu agrado 😁, también puedes ver la
				explicación del funcionamiento de esta aplicación en el video que se encuentra
				abajo, también está mi perfil de GitHub con enlace del repositorio por si gustas
				descargarlo.<br /><br />El proyecto no se considera que este completo, por lo
				menos a mi criterio siento que podría aumentarse las funcionalidades que pueda
				realizar esta App, se aceptan sugerencias y críticas para mejorarlo 😎👍.
			</h5>
		</div>
	</div>
	<div class="card-footer">
		<div class="text-center">
			<a href="https://github.com/carlosdizx/Paises-del-Mundo" target="_blank"
				>GitHub<img
					class="mr-5"
					height="64"
					src="assets/imagenes/logoGitHub.png"
					alt="GitHub"
			/></a>
			<a href="https://www.youtube.com/channel/UC2wC5MPh0h_XJOVkI-yo83g" target="_blank"
				>Youtube<img height="64" src="assets/imagenes/logoYoutube.png" alt="Youtube"
			/></a>
		</div>
	</div>
</div>
