<button class="btn btn-primary btn-block">Listado de las personas en la Universidad Mariana</button>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>Documento</th>
    <th>Tipo/Rol</th>
    <th>Programa acedemico</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <td>{{persona.documento}}</td>
      <td>{{persona.tipo}}</td>
      <td>{{persona.programa}}</td>
      <td *ngIf="persona.estado==='Desconocido'" class="btn-secondary">{{persona.estado}}</td>
      <td *ngIf="persona.estado==='Contagiado'" class="btn-danger">{{persona.estado}}</td>
      <td *ngIf="persona.estado==='Saludable'" class="btn-warning">{{persona.estado}}</td>
      <td *ngIf="persona.estado==='Anteriormente con contagiado'" class="btn-warning">{{persona.estado}}</td>
      <td *ngIf="persona.estado==='Primera dosis, pendiente vacunación'" class="btn-primary">{{persona.estado}}</td>
      <td *ngIf="persona.estado==='Vacunado'" class="btn-success">{{persona.estado}}</td>
    </tr>
  </tbody>
</table>
