<button (click)="cambiarEstado()" class="btn btn-primary btn-block">Listado de TODAS ({{personas.length}}) las personas en la Universidad Mariana {{mostrar?'(Ocultar)':'(Mostrar)'}}</button>
<table *ngIf="mostrar" class="table table-dark table-striped text-monospace">
  <thead>
  <tr>
    <th>Documento</th>
    <th>Tipo/Rol</th>
    <th>Programa acedemico</th>
    <th>Estado</th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personas">
      <td><button class="btn btn-secondary btn-block"[routerLink]="['/personas/',persona.documento]">{{persona.documento}}</button></td>
      <td>{{persona.tipo.nombre}}</td>
      <td>{{persona.programa.nombre}}</td>
      <td *ngIf="persona.estado.id===1" class="btn-light">{{persona.estado.nombre}}</td>
      <td *ngIf="persona.estado.id===2" class="btn-danger">{{persona.estado.nombre}}</td>
      <td *ngIf="persona.estado.id===3" class="btn-warning">{{persona.estado.nombre}}</td>
      <td *ngIf="persona.estado.id===4" class="btn-warning">{{persona.estado.nombre}}</td>
      <td *ngIf="persona.estado.id===5" class="btn-primary">{{persona.estado.nombre}}</td>
      <td *ngIf="persona.estado.id===6" class="btn-success">{{persona.estado.nombre}}</td>
    </tr>
  </tbody>
</table>
